/* Main Styles */
body {
	font-family: Tahoma, Helvetica, Arial;
	-webkit-text-size-adjust: 100%;
	
	margin: 0px;
	padding: 0px;
}

h1, h2,
h3, h4,
h5, h6 {
	font-weight: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: "";
	
	font-size: 0px;
	
	clear: both;
	display: block;
	height: 0px;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Main styles */

/* Navigation & Header */

body > header {
	background-image: url('../img/cover.jpg');
	background-position: center center;
	background-size: cover;
	
	height: 500px;
}

#wrapper > article,
body > footer > section {
	box-sizing: border-box;
	margin: 0px auto;
	width: 960px;
}

body > header nav {
	background: rgba(0,0,0,0.3);
	
	height: 40px;
	padding: 0px 20px;
}

#logo {
	padding-top: 8px;
}

body > header nav .right ul {
	list-style: none;
	
	margin: 0px;
}

body > header nav > .right > ul > li {
	position: relative;
	top: 0px;
	left: 0px;
	
	display: inline-block;	
}

body > header nav > .right > ul > li > a {
	line-height: 19px;
	
	display: block;
	padding: 10px 15px;
}

body > header nav > .right > ul > li span {
	font-size: 10px;
	vertical-align: 1px;
}

body > header nav > .right > ul li a {
	color: #fff;
	font-size: 14px;
}

body > header nav > .right > ul > li:hover {
	background: rgba(0,0,0,0.5);
}

body > header nav > .right > ul li:hover ul {
	display: block;
	position: absolute;
	top: 40px;
}

body > header nav > .right > ul > li ul {
	background: rgba(0,0,0,0.5);
	
	display: none;
	padding: 5px;
}

body > header nav > .right > ul > li ul > li {
	line-height: 100%;
	
	margin-bottom: 8px;
}

body > header nav > .right > ul > li ul > li:last-child {
	margin-bottom: 0px;
}

body > header nav > .right > ul > li ul > li a {
	font-size: 12px;
}

body > header > section {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
}

body > header > section > section {
	position: absolute;
	bottom: 15px;
	left: 15px;
	
	background: rgba(0,0,0,0.6);
	color: #fff;
	
	padding: 10px;
}

body > header > section > section * {
	margin: 0px;
	padding: 0px;
}

body > header > section > section h1 {
	font-size: 16px;
	
	margin-bottom: 10px;
}

body > header > section > section p {
	font-size: 12px;
	line-height: 130%;
}

/* Main */

#wrapper {
	position: relative;
	
	margin-top: -40px;
	margin-bottom: -40px;
	
	z-index: 1;
}

#wrapper > article {
	background-color: #fff;
	box-shadow: 0px 0px 20px #888;
	
	padding: 20px;
}

#wrapper > article h2 {
	font-size: 20px;
	
	margin: 0px;
	margin-bottom: 20px;
}

#wrapper > article blockquote {
	border-left: 2px solid #ccc;
	font-size: 14px;
	
	margin: 0px;
	padding: 8px 16px;
}

#wrapper > article blockquote small {
	display: block;
	margin-top: 10px;
}

#wrapper > article p {
	font-size: 14px;
	line-height: 175%;
}

#wrapper > article ul {
	list-style: square;
	padding-left: 30px;
}

#wrapper > article ul li {
	font-size: 12px;
	
	padding: 5px 0px;
}

/* Reviews & Products  */

#wrapper > article ul.products,
#wrapper > article ul.reviews {
	list-style: none;
	
	margin: 0px;
	padding: 0px;
}

#wrapper > article ul.products li,
#wrapper > article ul.reviews li {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	
	vertical-align: top;
}

#wrapper > article ul.products {
	margin-bottom: 20px;
	margin-top: 20px;
}

#wrapper > article ul.products li {
	position: relative;
	top: 0px;
	left: 0px;	
	
	max-height: 180px;
	overflow: hidden;
	padding: 0px 10px;
	width: 33%;
}

#wrapper > article ul.products li:hover section {
	transform: translateY(-150px);
}

#wrapper > article ul.products img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
	max-height: 180px;
}

#wrapper > article ul.products section {
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align: center;
	
	transform: translateY(0px);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	
	position: absolute;
	top: 150px;
	left: 0px;
	
	height: 180px;
	margin: 0px;
	padding: 5px;
}

#wrapper > article ul.products section p {
	font-size: 12px;
	text-align: left;
	
	padding: 0px 10px;
}

#wrapper > article ul.products section h3 {
	margin: 0px;
}

#wrapper > article ul.reviews li {
	background-color: #f8f8f8;
	
	box-shadow: 0px 0px 10px #666;
	margin: 20px 4%;
	padding-bottom: 10px;
	
	width: 25%;
}

#wrapper > article ul.reviews li p {
	font-size: 12px;
	text-align: left;
	
	padding: 0px 8px;
}

#wrapper > article ul.reviews .border {
	box-sizing: border-box;
	display: block;
	height: 140px;
	margin: 0px auto;
	margin-bottom: 10px;
	overflow: hidden;
	height: 200px;
	width: 100%;
}

#wrapper > article ul.reviews .farmer {
	background-size: cover;
	
	height: 200px;
	width: 100%;
}

#wrapper > article ul.reviews .farmer-1 {
	background: url('../img/farmer_1.jpg');
	background-size: 150%;
	background-position: center center;
}

#wrapper > article ul.reviews .farmer-2 {
	background: url('../img/farmer_2.jpg');
	background-size: 100%;
	background-position: center 20%;
}

#wrapper > article ul.reviews .farmer-3 {
	background: url('../img/farmer_3.jpg');
	background-size: 150%;
	background-position: center center;
}

#wrapper > article ul.reviews li p.name {
	color: #aaa;
	
	margin-bottom: 0px;
}

/* Try it now */

.button {
	/* ColorZilla Gradient Generator */
	background: #3d81e5;
	border-radius: 4px;
	
	color: #fff;
	font-size: 14px;
	text-align: center;
	
	display: block;
	margin: 0px auto;
	margin-top: 20px;
	padding: 15px 30px;
	width: 280px;
}

/* Footer */

body > footer {
	background: url('../img/footer.jpg');
	background-size: cover;
	background-position: center 80%;
	
	position: relative;
	top: 0px;
	left: 0px;
	
	height: 300px;
	z-index: 0;
}

body > footer > section * {
	color: #fff;
	text-align: center;
	
	margin: 0px;
}

body > footer > section {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

body > footer > section h3 {
	font-size: 18px;
	
	margin-bottom: 8px;
}

body > footer > section p {
	font-size: 14px;
}

body > footer > section p.policy-shit {
	font-size: 10px;
	line-height: 140%;
	
	margin-top: 5px;
}

body > footer > section p.policy-shit a {
	color: #3d81e5;
}

/* Mobile shit */

@media only screen and (max-width: 960px) {
	#wrapper > article,
	body > header > section,
	body > footer > section {
		box-sizing: border-box;
		width: 100%;
	}
	
	#wrapper {
		margin: 0px;
	}
	
	body > header {
		height: 300px;
	}
	
	body > header > section > nav {
		padding: 0px;
	}
	
	#logo {
		padding-left: 10px;
	}
	
	body > header nav > .right > ul > li > a {
		padding: 10px 10px;
	}
	
	body > header nav > .right > ul > li a span {
		display: none;
	}
	
	body > header nav > .right > ul > li:hover ul {
		display: none;
	}
	
	#wrapper > article ul.products li {
		width: 100%;
	}
	
	#wrapper > article ul.reviews li {
		width: 74%;
		margin: 4px 13%;
		margin-bottom: 20px;
	}
	
	#wrapper > article ul.reviews .border,
	#wrapper > article ul.reviews .farmer {
		height: 300px;
	}
}