/* Main Styles */
body {
	font-family: 'Open Sans', Tahoma, Helvetica, Arial;
	-webkit-text-size-adjust: 100%;
	
	margin: 0px;
	padding: 0px;
}

h1, h2,
h3, h4,
h5, h6 {
	font-weight: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: "";
	
	font-size: 0px;
	
	clear: both;
	display: block;
	height: 0px;
	width: 100%;
}

a {
	color: #3d81e5;
	text-decoration: none;
}

.clearfix:after {
	content: "";
	font-size: 0px;
	visibility: hidden;
	
	clear: both;
	display: block;
	height: 0px;
	width: 100%;
}
	
.clearfix .left {
	float: left;
}
	
.clearfix .right {
	float: right;
}

/* Main styles */

/* Navigation & Header */

body > header {
	background-image: url('../img/cover.jpg');
	background-position: center center;
	background-size: cover;
	
	height: 500px;
}

body > footer > section,
.fluid {
	box-sizing: border-box;
	margin: 0px auto;
	width: 960px;
}

body > header nav {
	/* background: rgba(0,0,0,0.3); */
	
	height: 40px;
	padding: 0px 20px;
}

body > header nav input {
	display: none;
}

#logo {
	padding-top: 8px;
}

body > header nav .right ul {
	list-style: none;
	
	margin: 0px;
}

body > header nav > .right > ul > li {
	position: relative;
	top: 0px;
	left: 0px;
	
	float: left;
}

body > header nav > .right > ul > li.active {
	border-bottom: 2px solid #3d81e5;
}

body > header nav > .right > ul > li > a {
	line-height: 19px;
	
	display: block;
	padding: 10px 15px;
}

body > header nav > .right > ul > li span {
	font-size: 10px;
	vertical-align: 1px;
}

body > header nav > .right > ul li a {
	color: #fff;
	font-size: 14px;
}

body > header nav > .right > ul > li:hover {
	/* background: rgba(0,0,0,0.5); */
	border-bottom: 2px solid #b9cae6;
}

body > header nav > .right > ul li:hover ul {
	display: block;
	position: absolute;
	top: 41px;
}

body > header nav > .right > ul > li ul {
	background: rgba(0,0,0,0.5);
	
	box-sizing: border-box;
	display: none;
	padding: 5px;
	width: 100%;
}

body > header nav > .right > ul > li ul > li {
	line-height: 100%;
	
	margin-bottom: 8px;
}

body > header nav > .right > ul > li ul > li:last-child {
	margin-bottom: 0px;
}

body > header nav > .right > ul > li ul > li a {
	font-size: 12px;
}

body > header > section {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
}

body > header > section > section {
	position: absolute;
	bottom: 15px;
	left: 15px;
	
	background: rgba(0,0,0,0.6);
	color: #fff;
	
	padding: 10px;
}

body > header > section > section * {
	margin: 0px;
	padding: 0px;
}

body > header > section > section h1 {
	font-size: 16px;
	
	margin-bottom: 10px;
}

body > header > section > section p {
	font-size: 12px;
	line-height: 130%;
}

/* Main */

#wrapper {
	
}

#wrapper > article {
	background-color: #fff;
}

#wrapper > article h2 {
	font-size: 28px;
	font-weight: bold;
	
	margin: 0px;
	margin-bottom: 1em;
}

#wrapper > article blockquote {
	border-left: 2px solid #ccc;
	font-size: 14px;
	
	margin: 0px;
	margin-bottom: 2em;
	padding: 8px 16px;
}

#wrapper > article blockquote small {
	display: block;
	margin-top: 10px;
}

#wrapper > article p {
	font-size: 14px;
	line-height: 175%;
	
	margin: 0px;
	margin-bottom: 2em;
}

#wrapper > article ul {
	list-style: square;
	padding-left: 30px;
}

#wrapper > article ul li {
	font-size: 12px;
	
	padding: 5px 0px;
}

/* Landing page stuff */

#wrapper .row {
	border-bottom: 1px solid #eee;
	
	padding-top: 40px;
	padding-bottom: 30px;
}

#wrapper .row:nth-child(even) {
	background-color: #fcfcfd;
}

/* Haha! Happy debugging! */

#wrapper .row.double-row .left {
	float: right;
	width: 74%;
}

#wrapper .row.double-row .right {
	float: left;
	width: 26%;
}

#wrapper .row.double-row.inverted .right {
	float: right;
	width: 30%;
}

#wrapper .row.double-row.inverted .left {
	float: left;
	width: 70%;
}

/* Reasons */

#wrapper > article ul.reasons {
	list-style: none;
	
	padding: 0px;
	margin: 0px;
}

#wrapper > article ul.reasons li {
	box-sizing: border-box;
	float: left;
	padding: 0px 4%;
	margin-bottom: 30px;
	width: 50%;
}

#wrapper > article ul.reasons li i.fa {
	color: #3d81e5;
	font-size: 1.5em;
	text-align: center;
	
	margin-right: 10px;
	width: 1em;
}

#wrapper > article ul.reasons li.first {
	clear: both;
}

#wrapper > article ul.reasons li h2 {
	font-size: 18px;
	vertical-align: top;
	font-weight: normal;
}

#wrapper > article ul.reasons li p {
	font-size: 14px;
}

/* Reviews & Products  */

#wrapper > article ul.products,
#wrapper > article ul.reviews {
	list-style: none;
	
	margin: 0px;
	padding: 0px;
}

#wrapper > article ul.products li,
#wrapper > article ul.reviews li {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	
	vertical-align: top;
}

#wrapper > article ul.products li {
	box-sizing: border-box;
	padding: 0px 0px;
	width: 33%;
}

#wrapper > article ul.products img {
	float: left;
	width: 100%;
}

#wrapper > article ul.products li section {
	box-sizing: border-box;
	float: right;
	height: 180px;
	margin: 0px;
	padding: 0px 10px;
	width: 100%;
}

#wrapper > article ul.products section p {
	font-size: 12px;
	text-align: left;
	
	margin-bottom: 1em;
}

#wrapper > article ul.products section h3 {
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	
	margin-top: 0px;
	padding-bottom: 8px;
}

#wrapper > article ul.products section h3 small {
	color: #aaa;
	font-size: 12px;
	width: auto !important;
}

/* Reviews */

#wrapper > article ul.reviews li {
	/* background-color: #f8f8f8; */
	
	box-sizing: border-box;
	padding-bottom: 10px;	
	width: 33%;
}

#wrapper > article ul.reviews li:nth-child(1) {
	padding-right: 10px;
}

#wrapper > article ul.reviews li:nth-child(2) {
	padding-left: 5px;
	padding-right: 5px;
}

#wrapper > article ul.reviews li:nth-child(3) {
	padding-left: 10px;
}

#wrapper > article ul.reviews li p {
	font-size: 13px;
	text-align: left;
	
	margin-bottom: 1em;
	padding: 0px 10px;
}

#wrapper > article ul.reviews .border {
	background-size: cover;
	
	box-sizing: border-box;
	display: block;
	height: 140px;
	margin: 0px auto;
	margin-bottom: 10px;
	overflow: hidden;
	padding-top: 100%;
	width: 100%;
}

#wrapper > article ul.reviews .farmer-1 {
	background: url('../img/farmer_1.jpg');
	background-size: 150%;
	background-position: center center;
}

#wrapper > article ul.reviews .farmer-2 {
	background: url('../img/farmer_2.jpg');
	background-size: 100%;
	background-position: center 20%;
}

#wrapper > article ul.reviews .farmer-3 {
	background: url('../img/farmer_3.jpg');
	background-size: 150%;
	background-position: center center;
}

#wrapper > article ul.reviews li p.name {
	color: #aaa;
	font-size: 12px;
	text-align: right;
	
	margin-bottom: 0px;
}

/* Try it now */

.button {
	/* ColorZilla Gradient Generator */
	background: #3d81e5;
	border-radius: 4px;
	
	color: #fff;
	font-size: 14px;
	text-align: center;
	
	margin-top: 20px;
	margin-right: 20px;
	padding: 15px 30px;
	width: 280px;
}

/* Footer */

body > footer {
	background: url('../img/footer.jpg');
	background-size: cover;
	background-position: center 80%;
	
	position: relative;
	top: 0px;
	left: 0px;
	
	height: 300px;
	z-index: 0;
}

body > footer > section * {
	color: #fff;
	text-align: center;
	
	margin: 0px;
}

body > footer > section {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

body > footer > section h3 {
	font-size: 18px;
	
	margin-bottom: 8px;
}

body > footer > section p {
	font-size: 14px;
}

body > footer > section p.policy-shit {
	font-size: 10px;
	line-height: 140%;
	
	margin-top: 5px;
}

body > footer > section p.policy-shit a {
	color: #3d81e5;
}

/* Mobile shit */

/**
 * Need to update that.
 */

@media only screen and (max-width: 960px) {
	body > header {
		height: 300px;
	}
	
	/**
	 * Navigation
	 */
	
	body > header nav {
		background-color: rgba(0,0,0,0.4);
		
		height: auto;
		padding: 0px;
	}
	
	body > header nav > * {
		float: none;
	}
	
	body > header nav #logo {
		padding: 0px 20px;
		padding-top: 8px;
	}
	
	body > header nav input {
		background-color: transparent;
		border: 1px solid rgba(0,0,0,0.8);
		border-radius: 4px;
		
		float: right;
		height: 20px;
		margin: 8px 20px;
		width: 20px;
	}
	
	body > header nav input:checked + .right {
		display: block;
	}
	
	body > header nav > .right {
		display: none;
		float: none;
		width: 100%;
	}
	
	body > header nav > .right ul {
		float: none;
		margin: 0px;
		padding: 0px;
	}
	
	body > header nav > .right li {
		border-bottom: 0px !important;
		
		float: none;
		display: block;
		width: 100%;
	}
	
	body > header nav > .right li ul {
		display: none !important;
	}
	
	/**
	 * Main content
	 */
	
	#wrapper article .row .fluid {
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}
	
	#wrapper article .row.double-row .left,
	#wrapper article .row.double-row .right,
	#wrapper article .row.double-row.inverted .left,
	#wrapper article .row.double-row.inverted .right {
		float: none;
		width: 100%;
	}
	
	#wrapper article .row ul.products li,
	#wrapper article .row ul.reviews li {
		width: 100%;
	}
	
	.button {
		box-sizing: border-box;
		display: block;
		width: 100%;
	}
	
	/**
	 * Footer
	 */
	
	body > footer {
		height: 200px;
	}
	
	body > footer section {
		width: 100%;
	}
}

#pixel {
	cursor: pointer;
	
	position: absolute;
	top: 40px;
	left: 0px;
	
	width: 40px;
	height: 40px;
}